@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: #fff;
}

// ff3e0b

body {
    font-size: 16px;
    line-height: 1.5;
    background-color: #161a1e;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}